 body {
    display:flex;
    justify-content: center;
    font-family: sans-serif;
    background:grey;
 }

.center-container {
    display: inline-block;
    color: lightblue;
}

.map-container {
    display: grid;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    grid-template-columns: repeat(3, auto);
    /* grid-gap: 10px; */
}

.map-container > div{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0 1rem 0 1rem;
    font-size: 1.8rem;
    /* text-align: center; */
    align-self: center;
}

/* .station {


} */

.current {
    color:black;
    background-color: aquamarine;
    outline: 5px solid aquamarine;
    border-radius:5px;
}

.prev {
    color: grey;
}

.prev-stop {
    background-color: grey!important;
}

.terminal {
    font-size:2.2rem!important;
}

.line {
    justify-self: center;
    /* align-self: center; */
}

.line-stop {
    height: 1.5rem;
    width: 1.5rem;
    background-color: turquoise;
    border:1px solid black;
    border-radius: 1rem;

}

.line-spacer {
    /* display: inline-block; */
    height:2rem;
    width: 1rem;
    /* justify-self: center; */
    background-color: darkgoldenrod;
    border-right:1px solid black;
    border-left:1px solid black;
}

.line-hidden {
    display: inline-block;
    height:1rem;
    width: 1rem;
    /* justify-self: center; */
    /* background-color: darkgoldenrod; */
    border-right:7px solid darkgoldenrod;
    border-bottom:7px solid darkgoldenrod;
    rotate: 45deg;
}

.connection {
    text-align: right;
}